# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/

# Logs
*.log

# Environment variables
.env


# IDE
.idea/
.github/
.git
.gitignore

# Docker
.dockerignore

# Pytest
*.pytest_cache/
*.html
.coverage
coverage.xml
.coveragerc
ctrf-report.json
